tr.task-entry {
    border-top: 1px solid #dddddd;
}

tr.task-entry td {
    border-top: none !important;
}

.editable-click {
    border-bottom: none !important;
    width: 540px;
}

.tscode-field {
    border-bottom: none !important;
    width: 200px;
}

.task-field {
    border-bottom: none !important;
    width: 530px;
}

.datetime-field {
    border-bottom: none !important;
    width: 125px;
}

.button-group {
    border-bottom: none !important;
    width: 65px;
    text-align: center;
}

.remove-btn {
    display: none;
}

.edit-btn {
    display: none;
}

.editable-inline.editable-container {
    margin-top: 3px;
}

.input-inline-text {
    width: 680px;
}

#task-txt {
    border-left: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}





