body {
    padding-top: 40px;
}

tr.task-entry {
    border-top: 1px solid #dddddd;
}

tr.task-entry td {
    border-top: none !important;
}

.editable-click {
    border-bottom: none !important;
    width: 530px;
}

.tscode-field {
    border-bottom: none !important;
    width: 245px;
    vertical-align: middle !important;
}

.task-field {
    border-bottom: none !important;
    vertical-align: middle !important;
}

.datetime-field {
    border-bottom: none !important;
    width: 125px;
    vertical-align: middle !important;
}

.button-group {
    border-bottom: none !important;
    width: 65px;
    text-align: center;
    vertical-align: middle !important;
}

.remove-btn {
    display: none;
}

.edit-btn {
    display: none;
}

.editable-inline.editable-container {
    margin-top: 3px;
}

.input-inline-text {
    width: 300px !important;
}

#tscode-txt {
    width: 250px;
}

#task-txt {
    border-left: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    width: 300px;
}

.report-group-header .date-label {
    font-size: 14px;
    color: inherit;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    margin: 10px 0;
    text-rendering: optimizelegibility;
}







